*{
    margin: 0px;
    padding: 0px;
}

.container {
    width: 970px;
}

.pokeimage {
    width: 500px;
    display: inline-block;
}

.pokedex {
    display: inline-block;
    vertical-align: top;
    position: fixed;
}
.pokedex div {
    display: block;
}

