{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Megrim&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/listings.css' %}"> 
    <title>Mictlan</title>
    
</head>
<body>
    <div class = "container-fluid">
        <div class="header sticky-top">
            <h1 class="display-1 ml-5">Mictlan</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="">
                  <img class="mr-3" src="{% static 'img/cuahutli.png' %}" width="30" height="30" class="d-inline-block align-top">Mictlan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/dashboard/listings">Marketplace</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Login/Registration</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
        <div class = "row justify-content-between">   
            <div class = "col mt-5">
                <div class="d-flex justify-content-center shadow-sm p-3 mb-5 bg-white rounded"">
                <img src='/media/product_image/{{card.image}}' width="132" height="184">
                <div class="ml-5">
                    <p class="mb-0 font-weight-bold">{{card.card_name}}</p>
                    <p>{{product.pool.title}}</p>
                <table class="mb-2">
                    <tbody>
                        <tr>
                            <td>{{card.permanent_type}}</td>
                        </tr>
                        <tr>
                            <td>{{card.color}}</td>
                        </tr>
                        <tr>
                            <td>{{card.state.category}}</td>
                        </tr>
                        <tr>
                            <td>${{card.price}} / each</td>
                        </tr>
                        <tr>
                            <td>{{card.quantity}} available</td>
                        </tr>
                    </tbody>
                </table>
                <form class="ml-5" action="/dashboard/listings/{{card.id}}/addtocart" method='POST'>
                    {% csrf_token %}
                    <select name="quantity" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit" class="btn btn-warning">Add to Cart</button>
                </form>
            </div>
        </div>
            <div class="mt-5">
                <h3>Bidding Square</h3>
                {% for comment in comments %}
                <p>{{comment.body}}</p>
                <p class ="text-right">Posted By: {{comment.posted_by.first_name}}</p><br>
                {% endfor %}
                <form action="/listings/{{card.id}}/process_comment" method="POST"> 
                    {% csrf_token %}
                <textarea name="comment" id="" cols="50" rows="3"></textarea><br>
                <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
            <div class="col d-flex justify-content-center mt-5">
                <div>
                <p class="font-weight-bold">Items ({{items}})</p>
                <ul>
                    {% for id, product_info in cart.items %}
                        <li>{{product_info.quantity}} &nbsp{{product_info.card_name}}</li>
                    {% endfor %}
                </ul>
                <h4>Order total: ${{order_total}} USD</h4>
                <a class="checkout-link mb-2" href="/cart">View Cart</a> 
                </div>
        </div>
    </div>
</div>
<footer class="mt-5">
    <ul class="text-center mt-3">
      <li>All of the Magic: The Gathering content is property of Wizards of the Coast</li>
      <li>Mictlan is not produced, endorsed, supported by, or associated with Wizards of the Coast</li>
      <li>Mictlan is a demo web application, please do not input personal information</li>
    </ul>
  </footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
