{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mictlan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/listings.css' %}"> 
</head>
<body>
    <div class = ".container">
    <!--div class = "banner">
        <img src="{% static 'img/banner.jpg' %}" alt="">
    </div-->
    <div class = "row">
        <div class= "col">
            <h1 class="display-1 header">Mictlan</h1>
            <form action="/dashboard">
                <button type="Submit" class="btn btn-info">Member Dashboard</button>
            </form>
        </div>
            
    </div>
    <div class="row">
        <div class="col float-right">
            <div>
                <h3>Shopping Cart</h3>
                <p>{{items}}</p>
                <p>Order total: ${{order_total}}</p>
                <table>
                    <thead>
                        <tr>
                            <th>Qty.</th>
                            <th>Card</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, product_info in cart.items %}
                        <tr>
                            <td>{{product_info.quantity}}</td>
                            <td>{{product_info.card_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href = "/checkout">Checkout</a>
            </div>
        </div>
    </div>
    <div class = "row">
        {% for product in products %}
        <div class = "col-7 d-flex justify-content-center align-items-center mb-3 product">
            <img src='/media/product_image/{{product.image}}' width="132" height="184">
            <table>
                    <tr>
                        <th>Set: </th>
                        <td>{{product.pool.title}}</td>
                    </tr>
                        <th>Type: </th>
                        <td>{{product.permanent_type}}</td>
                    </tr>
                        <th>Color: </th>
                        <td>{{product.color}}</td>
                    </tr>
                        <th>Availability: </th>
                        <td>{{product.quantity}}</td>
                    </tr>
                        <th>Price: </th>
                        <td>{{product.price}}</td>
                    </tr>
                        <th>Description: </th>
                        <td>{{product.description}}</td>
                    </tr>
            </table>
            <form action="/dashboard/listings/{{product.id}}/addtocart" method='POST'>
                {% csrf_token %}
                <select name="quantity" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button type="submit" class="btn btn-warning">Add to Cart</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <a href="/dashboard">Back to Dashboard</a>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
</body>
</html>
