{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/loginreg.css' %}"> 
    <title>Mictlan</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="display-1 header">MICTLAN</h1>
        <div class="row  align-items-center">
            <div class="col d-flex justify-content-center align-items-center text-right">
                <div>
                {% for error in messages %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                    <h3 class="mt-5">Member Login</h3>
                    <form action="/process_login" method="POST">
                        {% csrf_token %}
                        <div>
                            <input class="form-group login_input input-lg" type="text" name="email" placeholder="Email">
                            <input class="form-group login_input" type="password" name="password" placeholder="Password">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <h5>Not a registered user?</h5>
                <a href="/register">Register</a>
                <p>Register on Mictlan to sell and buy</p>
            </div>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>        
</body>
</html>
