{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Megrim&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/loginreg.css' %}"> 
    <title>Mictlan</title>
</head>
<body>
    <div class="container-fluid">
        <div class="header sticky-top">
 <h1 class="display-1 ml-5">Mictlan</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                  <img class="mr-3" src="{% static 'img/cuahutli.png' %}" width="30" height="30" class="d-inline-block align-top">Mictlan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/dashboard/listings">Marketplace</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Login/Registration</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
        <div class="row  align-items-center">
            <div class="col d-flex justify-content-end align-items-center">
                <div>
                {% for error in messages %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                    <h3 class="mt-5 mr-5">Member Login</h3>
                    <form action="/process_login" method="POST">
                        {% csrf_token %}
                        <div>
                            <input class="form-group login_input input-lg" type="text" name="email" placeholder="Email">
                            <input class="form-group login_input" type="password" name="password" placeholder="Password">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col mt-5 ml-5">
                <h5>Not a registered user?</h5>
                <a class="register-link w-25" href="/register">Register</a>
                <p id="register-message">Register to create a free Mictlan account<br>to sell and buy items</p>
            </div>
        </div>
        <footer class="fixed-bottom">
          <ul class="text-center mt-3">
            <li>All of the Magic: The Gathering content is property of Wizards of the Coast</li>
            <li>Mictlan is not produced, endorsed, supported by, or associated with Wizards of the Coast</li>
            <li>Mictlan is a demo web application, please do not input personal information</li>
          </ul>
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>        
</body>
</html>
