<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handy Helper</title>
</head>
<body>
    <h1>Hello {{user.first_name}}! These are the job details!</h1>
    <a href="/logout">Logout</a><br>
    <a href = "/dashboard">Dashboard</a>
   
    <h2>{{job.title}}</h2>
    <p>Description: {{job.description}}</p>
    <p>Location: {{job.location}}</p>
    <p>Posted by: {{job.created_by.first_name}}</p>
    <p>Posted on: {{job.created_at}}</p>
</form>
</body> 
</html>  
