<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handy Helper</title>
</head>
<body>
    <h1>Hello {{logged_user.first_name}}! Create a job!</h1>
    <a href="/logout">Logout</a>
    {% for error in messages %}
        <p style="color: red;">{{ error }}</p>
    {% endfor %}
    <form action="/jobs/new/create" method="POST">
        {% csrf_token %}
        <div>
        <label for="Title">Title</label>
        <input type="text" name="title"> 
        </div>
        <div>
        <label for="Description">Description</label><br>
        <textarea name="description" rows="10" col="20"></textarea>
    </div>
        <div>
        <label for="location">Location</label>
        <input type="text" name="location">
    </div>
    <button>Submit</button>
</form>
<a href="/dashboard">Cancel</a>
</body> 
</html>  
