

.mictlan {
    background-color: rgb(129, 50, 39);
    margin-bottom: 0;
    color: white;
  }


.wrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

.wrapper #quote {
    position: absolute;
    width: 500px;
    top: 50px;
    color: white;
    left: 850px
}

.wrapper img {
    width: 100%;
}


