.wrapper {
    display: flex;
    justify-content: space-evenly;
}



.circle {
    justify-content: center;
    align-items: center;
    display: flex;
    color:white;
    height:100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer
}