@import url('https://fonts.googleapis.com/css?family=Comfortaa&family=Syne:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Mako&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.header-convergence {
    background-color: rgb(65,34,231);
    color: white;
    margin-top: 0;
    height: 100px;
    line-height: 100px;
    margin-bottom: 50px;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
}  

.bar {
    background-color: rgb(65,34,231);
    height: 70px;
    line-height: 70px;
    box-shadow: 0 8px 6px -6px black;
    color: white;
    text-align: left;
    padding-left: 35px;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
}

.bar-bottom {
    background-color: rgb(65,34,231);
    height: 75px;
    position:fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 8px 6px -6px black;
    z-index: 1;
}

.footer-message {
    margin: 0;
    color: white;
}
.footer-message-div {
    margin-top: 15px;
}

.landing-convergence {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Mako', sans-serif;
    font-size: 170px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 130px;
    left: 250px;
}

.name-and-chatbox {
    position: relative;
}
.chatbox-div {
    position: absolute;
    top: 60px;
    left: 930px;
}
.chat-box {
    width: 300px;
    margin: 50px auto;
    margin-bottom: 25px;
    border-radius: 30px;
    position: relative;
    padding:9px;
    font-size: 35px;
    background-color: rgb(100,166,179);
    color: white;
    box-shadow: 0px 9px 11px -8px black;
    z-index: 1;
    font-family: 'Comfortaa', cursive;
}

.piece:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid rgb(100,166,179);
    border-bottom: 10px solid transparent;
    right: 80%;
    bottom: -40px;
   }

.landing-button {
    position: absolute;
    top: 500px;
    left: 575px;
    border-radius: 5px;
    height: 80px;
    width: 300px;
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background-color: rgb(150,200,48);
}

.main {
    display: flex;
    justify-content: space-evenly;
}
.username-confirmation {
    margin-right: 100px
}
.chat-window {
    background-color: black;
    width: 800px;
    height: 500px;
    overflow-y: scroll;
    margin: auto;
    border-radius: 0px 10px 0px 0px;
    position: relative;
}



.input-components {
    margin-right: 500px;
}


.chat-bubble {
    background-color: rgb(49,49,49);
    width: 350px;
    margin: auto;
    border-radius: 15px;
    word-wrap: break-word;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid rgb(115,115,115);
}
.username {
    color:white;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 5px
} 

.message {
    color: white;
    margin: 0;
    padding: 0;
    text-align:left;
}


::placeholder {
    color: white;
}

.username-input {
    border: 1px solid rgb(239,239,239);
    width: 150px;
    font-size: 20px;
    color: white;
}
.username-button {
    border: none;
}

.form-wrapper {
    background-color: rgb(65,34,231);
    border-radius: 0px 0px 10px 10px;
    height: 70px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    box-shadow: none;
    height: 50px;
    border-radius:15px 0px 0px 15px;
    border-right: 0;
    margin-top: 8px;
    border:none;
    width: 500px;
    font-size: 20px;
    background-color: rgb(49,49,49);
    padding-left: 5px;
    color: white;
}

input:focus {
    outline: none;
}


button {
 border: none;
 border-left: 0;
 border-radius: 0px 15px 15px 0px;
 background-color: rgb(33,176,163);
 color: white;
 margin-top: 8px;
}

.room-header {
    background-color: rgb(65,34,231);
    color: white;
    margin-bottom: 0;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

.instructions, .rules-div {
    font-family: 'Comfortaa', cursive;
}

.list {
   text-align: left;
}